<%= form_with model: @post, local: true do |f|%>
  <div class="field">
    <%= f.label :title, "名物名" %><br />
    <%= f.text_field :title, id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :message, "メッセージ" %><br />
    <%= f.text_area :message, class: :form__text, id:"prototype_concept" %>
  </div>

  <div class="field">
    <%= f.label :image, "投稿したい画像" %><br />
    <%= f.file_field :image, id:"prototype_image" %>
  </div>

  <div class="field">
    その名物のある県
  <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"post-prefecture"}) %>
  </div>
  
  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>